<div class="card cardItem" style="width: 15rem; ">
  <div class="banner" *ngIf="product.special">{{ product.special }}</div>
  <a [routerLink]="['/product', { id: product.id }]">
    <img [src]="product.imageURL" class="card-img-top img-responsive" alt="..."
    style="max-height: 300px;"/>
  </a>
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text text-bold">${{ product.price }}</p>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
